body {
    height: 100%;
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
}

#header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#header h1 {
    margin: 0;
    font-size: 32px;
}

#header p {
    margin: 5px 0 10px 0;
    font-size: 16px;
}

#header h2 {
    margin: 15px;
    font-size: 22px;
}

form {
    width: 300px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    font-size: 18px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: unset;
}

button:hover {
    background-color: #0d47a1;
}
